extends ../layouts/application.pug

block content
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.createAction')
  .table-responsive
    table.table.table-striped.border.mt-3
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.name')
          th= t('views.statuses.createdAt')
          th
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=route('editStatus', { id: status.id }))= t('views.statuses.updateAction')
                +formFor()(action=route('oneStatus', { id: status.id }) method='post')
                  input(name='_method' type='hidden' value='delete')
                  input.btn.btn-danger(type='submit' value=t('views.statuses.deleteAction'))

block header
  = t('views.statuses.statuses')