extends ../layouts/application.pug

block content
  a.btn.btn-primary(href='/tasks/new')= t('views.tasks.createAction')
  .table-responsive
    table.table.table-striped.border.mt-3
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.status')
          th= t('views.tasks.creator')
          th= t('views.tasks.executor')
          th= t('views.tasks.createdAt')
          th
      tbody
        each task in tasks
          tr
            td= task.id
            td= task.name
            td= task.status.name
            td= task.creator.fullName
            td= task.executor.fullName
            td= formatDate(task.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=route('editTask', { id: task.id }))= t('views.tasks.updateAction')
                +formFor()(action=route('oneTask', { id: task.id }) method='post')
                  input(name='_method' type='hidden' value='delete')
                  input.btn.btn-danger(type='submit' value=t('views.tasks.deleteAction'))

block header
  = t('views.tasks.tasks')