extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.tasks.name'), errors, {autofocus: true})(type="text")
    +textarea(task, 'description', t('views.tasks.description'), errors, {maxlength: 2000})(rows="3")
    +select(task, 'statusId', t('views.tasks.status'), errors)
      option(value='')
      each status in statuses
        option(value=status.id selected=(status.id === Number(task.statusId)))= status.name
    +select(task, 'executorId', t('views.tasks.executor'), errors)
      option(value='')
      each user in users
        option(value=user.id selected=(user.id === Number(task.executorId)))= user.fullName
    +select(task, 'labels', t('views.tasks.labels'), errors, {multiple: true})
      each label in labels
        option(value=label.id selected=((task.labels || []).includes(String(label.id))))= label.name
    +submit(task)(value=t('views.tasks.new.submit'))
    +back(t('views.tasks.new.back'), route('tasks'))
